# Data Preparation

Do your work for this exercise in a file named prepare.

1. Iris Data

Use the function defined in acquire.py to load the iris data.

In [1]:
import env
import pandas as pd
import numpy as np
import pydataset
from pydataset import data
import seaborn as sns
import matplotlib.pyplot as plt
import acquire

In [2]:
iris_df = acquire.get_iris_data()

In [3]:
iris_df.head()

,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,setosa,1,5.1,3.5,1.4,0.2,1
1,setosa,2,4.9,3.0,1.4,0.2,1
2,setosa,3,4.7,3.2,1.3,0.2,1
3,setosa,4,4.6,3.1,1.5,0.2,1
4,setosa,5,5.0,3.6,1.4,0.2,1

a. Drop the species_id and measurement_id columns.

In [4]:
iris_df.drop(columns = 'species_id', inplace=True)

In [5]:
iris_df.drop(columns = 'measurement_id', inplace=True)

In [6]:
iris_df.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

b. Rename the species_name column to just species.

In [7]:
iris_df.rename(index=str, columns={"species_name": "species"}, inplace=True)

In [8]:
iris_df.head(3)

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2

c. Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(iris_df.species)
encoder.transform(iris_df.species)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [10]:
# from sklearn.preprocessing import StandardScaler
# # inverse_transform(X[, copy])
# # Scale back the data to the original representation
# encoder.inverse_transform(iris_df.species[, copy])

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [11]:
import acquire 
from sklearn.preprocessing import LabelEncoder

def drop_species_meas(iris_df):
    iris_df.drop(columns = 'species_id', inplace=True)
    iris_df.drop(columns = 'measurement_id', inplace=True)
    return(iris_df)

def rename_col(iris_df):
    iris_df.rename(index=str, columns={"species_name": "species"}, inplace=True)
    return(iris_df)

def encode_species(iris_df):
    encoder = LabelEncoder()
    encoder.fit(iris_df.species)
    encoder.transform(iris_df.species)
    return(iris_df)
    
def encode_species(iris_df):
    from sklearn.preprocessing import LabelEncoder
    encoder = LabelEncoder()
    encoder.fit(iris_df.species)
    iris_df.species = encoder.transform(iris_df.species)
    return (iris_df)

In [12]:
def prep_iris(iris_df):
    drop_species_meas(iris_df)
    rename_col(iris_df)
    encode_species(iris_df)
    return(iris_df)

iris_df = acquire.get_iris_data()
prep_iris(iris_df)

     species  sepal_length  sepal_width  petal_length  petal_width
0          0           5.1          3.5           1.4          0.2
1          0           4.9          3.0           1.4          0.2
2          0           4.7          3.2           1.3          0.2
3          0           4.6          3.1           1.5          0.2
4          0           5.0          3.6           1.4          0.2
5          0           5.4          3.9           1.7          0.4
6          0           4.6          3.4           1.4          0.3
7          0           5.0          3.4           1.5          0.2
8          0           4.4          2.9           1.4          0.2
9          0           4.9          3.1           1.5          0.1
10         0           5.4          3.7           1.5          0.2
11         0           4.8          3.4           1.6          0.2
12         0           4.8          3.0           1.4          0.1
13         0           4.3          3.0           1.1          0.1
14         0           5.8          4.0           1.2          0.2
15         0           5.7          4.4           1.5          0.4
16         0           5.4          3.9           1.3          0.4
17         0           5.1          3.5           1.4          0.3
18         0           5.7          3.8           1.7          0.3
19         0           5.1          3.8           1.5          0.3
20         0           5.4          3.4           1.7          0.2
21         0           5.1          3.7           1.5          0.4
22         0           4.6          3.6           1.0          0.2
23         0           5.1          3.3           1.7          0.5
24         0           4.8          3.4           1.9          0.2
25         0           5.0          3.0           1.6          0.2
26         0           5.0          3.4           1.6          0.4
27         0           5.2          3.5           1.5          0.2
28         0           5.2          3.4           1.4          0.2
29         0           4.7          3.2           1.6          0.2
30         0           4.8          3.1           1.6          0.2
31         0           5.4          3.4           1.5          0.4
32         0           5.2          4.1           1.5          0.1
33         0           5.5          4.2           1.4          0.2
34         0           4.9          3.1           1.5          0.2
35         0           5.0          3.2           1.2          0.2
36         0           5.5          3.5           1.3          0.2
37         0           4.9          3.6           1.4          0.1
38         0           4.4          3.0           1.3          0.2
39         0           5.1          3.4           1.5          0.2
40         0           5.0          3.5           1.3          0.3
41         0           4.5          2.3           1.3          0.3
42         0           4.4          3.2           1.3          0.2
43         0           5.0          3.5           1.6          0.6
44         0           5.1          3.8           1.9          0.4
45         0           4.8          3.0           1.4          0.3
46         0           5.1          3.8           1.6          0.2
47         0           4.6          3.2           1.4          0.2
48         0           5.3          3.7           1.5          0.2
49         0           5.0          3.3           1.4          0.2
50         1           7.0          3.2           4.7          1.4
51         1           6.4          3.2           4.5          1.5
52         1           6.9          3.1           4.9          1.5
53         1           5.5          2.3           4.0          1.3
54         1           6.5          2.8           4.6          1.5
55         1           5.7          2.8           4.5          1.3
56         1           6.3          3.3           4.7          1.6
57         1           4.9          2.4           3.3          1.0
58         1           6.6          2.9           4.6          1.3
59         1           5.2          2.7           3.9          1.4
60         1           5.0          2.0           3.5          1.0
61         1           5.9          3.0           4.2          1.5
62         1           6.0          2.2           4.0          1.0
63         1           6.1          2.9           4.7          1.4
64         1           5.6          2.9           3.6          1.3
65         1           6.7          3.1           4.4          1.4
66         1           5.6          3.0           4.5          1.5
67         1           5.8          2.7           4.1          1.0
68         1           6.2          2.2           4.5          1.5
69         1           5.6          2.5           3.9          1.1
70         1           5.9          3.2           4.8          1.8
71         1           6.1          2.8           4.0          1.3
72         1           6.3          2.5           4.9          1.5
73         1           6.1          2.8           4.7          1.2
74         1           6.4          2.9           4.3          1.3
75         1           6.6          3.0           4.4          1.4
76         1           6.8          2.8           4.8          1.4
77         1           6.7          3.0           5.0          1.7
78         1           6.0          2.9           4.5          1.5
79         1           5.7          2.6           3.5          1.0
80         1           5.5          2.4           3.8          1.1
81         1           5.5          2.4           3.7          1.0
82         1           5.8          2.7           3.9          1.2
83         1           6.0          2.7           5.1          1.6
84         1           5.4          3.0           4.5          1.5
85         1           6.0          3.4           4.5          1.6
86         1           6.7          3.1           4.7          1.5
87         1           6.3          2.3           4.4          1.3
88         1           5.6          3.0           4.1          1.3
89         1           5.5          2.5           4.0          1.3
90         1           5.5          2.6           4.4          1.2
91         1           6.1          3.0           4.6          1.4
92         1           5.8          2.6           4.0          1.2
93         1           5.0          2.3           3.3          1.0
94         1           5.6          2.7           4.2          1.3
95         1           5.7          3.0           4.2          1.2
96         1           5.7          2.9           4.2          1.3
97         1           6.2          2.9           4.3          1.3
98         1           5.1          2.5           3.0          1.1
99         1           5.7          2.8           4.1          1.3
100        2           6.3          3.3           6.0          2.5
101        2           5.8          2.7           5.1          1.9
102        2           7.1          3.0           5.9          2.1
103        2           6.3          2.9           5.6          1.8
104        2           6.5          3.0           5.8          2.2
105        2           7.6          3.0           6.6          2.1
106        2           4.9          2.5           4.5          1.7
107        2           7.3          2.9           6.3          1.8
108        2           6.7          2.5           5.8          1.8
109        2           7.2          3.6           6.1          2.5
110        2           6.5          3.2           5.1          2.0
111        2           6.4          2.7           5.3          1.9
112        2           6.8          3.0           5.5          2.1
113        2           5.7          2.5           5.0          2.0
114        2           5.8          2.8           5.1          2.4
115        2           6.4          3.2           5.3          2.3
116        2           6.5          3.0           5.5          1.8
117        2           7.7          3.8           6.7          2.2
118        2           7.7          2.6           6.9          2.3
119        2           6.0          2.2           5.0          1.5
120        2           6.9          3.2           5.7          2.3
121        2           5.6          2.8           4.9          2.0
122        2           7.7          2.8           6.7          2.0
123        2           6.3          2.7           4.9          1.8
124        2           6.7          3.3           5.7          2.1
125        2           7.2          3.2           6.0          1.8
126        2           6.2          2.8           4.8          1.8
127        2           6.1          3.0           4.9          1.8
128        2           6.4          2.8           5.6          2.1
129        2           7.2          3.0           5.8          1.6
130        2           7.4          2.8           6.1          1.9
131        2           7.9          3.8           6.4          2.0
132        2           6.4          2.8           5.6          2.2
133        2           6.3          2.8           5.1          1.5
134        2           6.1          2.6           5.6          1.4
135        2           7.7          3.0           6.1          2.3
136        2           6.3          3.4           5.6          2.4
137        2           6.4          3.1           5.5          1.8
138        2           6.0          3.0           4.8          1.8
139        2           6.9          3.1           5.4          2.1
140        2           6.7          3.1           5.6          2.4
141        2           6.9          3.1           5.1          2.3
142        2           5.8          2.7           5.1          1.9
143        2           6.8          3.2           5.9          2.3
144        2           6.7          3.3           5.7          2.5
145        2           6.7          3.0           5.2          2.3
146        2           6.3          2.5           5.0          1.9
147        2           6.5          3.0           5.2          2.0
148        2           6.2          3.4           5.4          2.3
149        2           5.9          3.0           5.1          1.8

2. Titanic Data

Use the function you defined in acquire.py to load the titanic data set.

In [13]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

Write the code to perform the operations below. (Do this yourself, don't copy from the curriculum.)

a. Handle the missing values in the embark_town and embarked columns.

In [14]:
titanic_df.embark_town.fillna('Other', inplace=True)
titanic_df.embarked.fillna('O', inplace=True)
titanic_df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.00,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.00,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.00,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.00,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.00,0,0,8.0500,S,Third,None,Southampton,1
5,5,0,3,male,NaN,0,0,8.4583,Q,Third,None,Queenstown,1
6,6,0,1,male,54.00,0,0,51.8625,S,First,E,Southampton,1
7,7,0,3,male,2.00,3,1,21.0750,S,Third,None,Southampton,0
8,8,1,3,female,27.00,0,2,11.1333,S,Third,None,Southampton,0
9,9,1,2,female,14.00,1,0,30.0708,C,Second,None,Cherbourg,0
10,10,1,3,female,4.00,1,1,16.7000,S,Third,G,Southampton,0
11,11,1,1,female,58.00,0,0,26.5500,S,First,C,Southampton,1
12,12,0,3,male,20.00,0,0,8.0500,S,Third,None,Southampton,1
13,13,0,3,male,39.00,1,5,31.2750,S,Third,None,Southampton,0
14,14,0,3,female,14.00,0,0,7.8542,S,Third,None,Southampton,1
15,15,1,2,female,55.00,0,0,16.0000,S,Second,None,Southampton,1
16,16,0,3,male,2.00,4,1,29.1250,Q,Third,None,Queenstown,0
17,17,1,2,male,NaN,0,0,13.0000,S,Second,None,Southampton,1
18,18,0,3,female,31.00,1,0,18.0000,S,Third,None,Southampton,0
19,19,1,3,female,NaN,0,0,7.2250,C,Third,None,Cherbourg,1
20,20,0,2,male,35.00,0,0,26.0000,S,Second,None,Southampton,1
21,21,1,2,male,34.00,0,0,13.0000,S,Second,D,Southampton,1
22,22,1,3,female,15.00,0,0,8.0292,Q,Third,None,Queenstown,1
23,23,1,1,male,28.00,0,0,35.5000,S,First,A,Southampton,1
24,24,0,3,female,8.00,3,1,21.0750,S,Third,None,Southampton,0
25,25,1,3,female,38.00,1,5,31.3875,S,Third,None,Southampton,0
26,26,0,3,male,NaN,0,0,7.2250,C,Third,None,Cherbourg,1
27,27,0,1,male,19.00,3,2,263.0000,S,First,C,Southampton,0
28,28,1,3,female,NaN,0,0,7.8792,Q,Third,None,Queenstown,1
29,29,0,3,male,NaN,0,0,7.8958,S,Third,None,Southampton,1
30,30,0,1,male,40.00,0,0,27.7208,C,First,None,Cherbourg,1
31,31,1,1,female,NaN,1,0,146.5208,C,First,B,Cherbourg,0
32,32,1,3,female,NaN,0,0,7.7500,Q,Third,None,Queenstown,1
33,33,0,2,male,66.00,0,0,10.5000,S,Second,None,Southampton,1
34,34,0,1,male,28.00,1,0,82.1708,C,First,None,Cherbourg,0
35,35,0,1,male,42.00,1,0,52.0000,S,First,None,Southampton,0
36,36,1,3,male,NaN,0,0,7.2292,C,Third,None,Cherbourg,1
37,37,0,3,male,21.00,0,0,8.0500,S,Third,None,Southampton,1
38,38,0,3,female,18.00,2,0,18.0000,S,Third,None,Southampton,0
39,39,1,3,female,14.00,1,0,11.2417,C,Third,None,Cherbourg,0
40,40,0,3,female,40.00,1,0,9.4750,S,Third,None,Southampton,0
41,41,0,2,female,27.00,1,0,21.0000,S,Second,None,Southampton,0
42,42,0,3,male,NaN,0,0,7.8958,C,Third,None,Cherbourg,1
43,43,1,2,female,3.00,1,2,41.5792,C,Second,None,Cherbourg,0
44,44,1,3,female,19.00,0,0,7.8792,Q,Third,None,Queenstown,1
45,45,0,3,male,NaN,0,0,8.0500,S,Third,None,Southampton,1
46,46,0,3,male,NaN,1,0,15.5000,Q,Third,None,Queenstown,0
47,47,1,3,female,NaN,0,0,7.7500,Q,Third,None,Queenstown,1
48,48,0,3,male,NaN,2,0,21.6792,C,Third,None,Cherbourg,0
49,49,0,3,female,18.00,1,0,17.8000,S,Third,None,Southampton,0
50,50,0,3,male,7.00,4,1,39.6875,S,Third,None,Southampton,0
51,51,0,3,male,21.00,0,0,7.8000,S,Third,None,Southampton,1
52,52,1,1,female,49.00,1,0,76.7292,C,First,D,Cherbourg,0
53,53,1,2,female,29.00,1,0,26.0000,S,Second,None,Southampton,0
54,54,0,1,male,65.00,0,1,61.9792,C,First,B,Cherbourg,0
55,55,1,1,male,NaN,0,0,35.5000,S,First,C,Southampton,1
56,56,1,2,female,21.00,0,0,10.5000,S,Second,None,Southampton,1
57,57,0,3,male,28.50,0,0,7.2292,C,Third,None,Cherbourg,1
58,58,1,2,female,5.00,1,2,27.7500,S,Second,None,Southampton,0
59,59,0,3,male,11.00,5,2,46.9000,S,Third,None,Southampton,0
60,60,0,3,male,22.00,0,0,7.2292,C,Third,None,Cherbourg,1
61,61,1,1,female,38.00,0,0,80.0000,O,First,B,Other,1
62,62,0,1,male,45.00,1,0,83.4750,S,First,C,Southampton,0
63,63,0,3,male,4.00,3,2,27.9000,S,Third,None,Southampton,0
64,64,0,1,male,NaN,0,0,27.7208,C,First,None,Cherbourg,1
65,65,1,3,male,NaN,1,1,15.2458,C,Third,None,Cherbourg,0
66,66,1,2,female,29.00,0,0,10.5000,S,Second,F,Southampton,1
67,67,0,3,male,19.00,0,0,8.1583,S,Third,None,Southampton,1
68,68,1,3,female,17.00,4,2,7.9250,S,Third,None,Southampton,0
69,69,0,3,male,26.00,2,0,8.6625,S,Third,None,Southampton,0
70,70,0,2,male,32.00,0,0,10.5000,S,Second,None,Southampton,1
71,71,0,3,female,16.00,5,2,46.9000,S,Third,None,Southampton,0
72,72,0,2,male,21.00,0,0,73.5000,S,Second,None,Southampton,1
73,73,0,3,male,26.00,1,0,14.4542,C,Third,None,Cherbourg,0
74,74,1,3,male,32.00,0,0,56.4958,S,Third,None,Southampton,1
75,75,0,3,male,25.00,0,0,7.6500,S,Third,F,Southampton,1
76,76,0,3,male,NaN,0,0,7.8958,S,Third,None,Southampton,1
77,77,0,3,male,NaN,0,0,8.0500,S,Third,None,Southampton,1
78,78,1,2,male,0.83,0,2,29.0000,S,Second,None,Southampton,0
79,79,1,3,female,30.00,0,0,12.4750,S,Third,None,Southampton,1
80,80,0,3,male,22.00,0,0,9.0000,S,Third,None,Southampton,1
81,81,1,3,male,29.00,0,0,9.5000,S,Third,None,Southampton,1
82,82,1,3,female,NaN,0,0,7.7875,Q,Third,None,Queenstown,1
83,83,0,1,male,28.00,0,0,47.1000,S,First,None,Southampton,1
84,84,1,2,female,17.00,0,0,10.5000,S,Second,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,806,0,1,male,39.00,0,0,0.0000,S,First,A,Southampton,1
807,807,0,3,female,18.00,0,0,7.7750,S,Third,None,Southampton,1
808,808,0,2,male,39.00,0,0,13.0000,S,Second,None,Southampton,1
809,809,1,1,female,33.00,1,0,53.1000,S,First,E,Southampton,0
810,810,0,3,male,26.00,0,0,7.8875,S,Third,None,Southampton,1
811,811,0,3,male,39.00,0,0,24.1500,S,Third,None,Southampton,1
812,812,0,2,male,35.00,0,0,10.5000,S,Second,None,Southampton,1
813,813,0,3,female,6.00,4,2,31.2750,S,Third,None,Southampton,0
814,814,0,3,male,30.50,0,0,8.0500,S,Third,None,Southampton,1
815,815,0,1,male,NaN,0,0,0.0000,S,First,B,Southampton,1
816,816,0,3,female,23.00,0,0,7.9250,S,Third,None,Southampton,1
817,817,0,2,male,31.00,1,1,37.0042,C,Second,None,Cherbourg,0
818,818,0,3,male,43.00,0,0,6.4500,S,Third,None,Southampton,1
819,819,0,3,male,10.00,3,2,27.9000,S,Third,None,Southampton,0
820,820,1,1,female,52.00,1,1,93.5000,S,First,B,Southampton,0
821,821,1,3,male,27.00,0,0,8.6625,S,Third,None,Southampton,1
822,822,0,1,male,38.00,0,0,0.0000,S,First,None,Southampton,1
823,823,1,3,female,27.00,0,1,12.4750,S,Third,E,Southampton,0
824,824,0,3,male,2.00,4,1,39.6875,S,Third,None,Southampton,0
825,825,0,3,male,NaN,0,0,6.9500,Q,Third,None,Queenstown,1
826,826,0,3,male,NaN,0,0,56.4958,S,Third,None,Southampton,1
827,827,1,2,male,1.00,0,2,37.0042,C,Second,None,Cherbourg,0
828,828,1,3,male,NaN,0,0,7.7500,Q,Third,None,Queenstown,1
829,829,1,1,female,62.00,0,0,80.0000,O,First,B,Other,1
830,830,1,3,female,15.00,1,0,14.4542,C,Third,None,Cherbourg,0
831,831,1,2,male,0.83,1,1,18.7500,S,Second,None,Southampton,0
832,832,0,3,male,NaN,0,0,7.2292,C,Third,None,Cherbourg,1
833,833,0,3,male,23.00,0,0,7.8542,S,Third,None,Southampton,1
834,834,0,3,male,18.00,0,0,8.3000,S,Third,None,Southampton,1
835,835,1,1,female,39.00,1,1,83.1583,C,First,E,Cherbourg,0
836,836,0,3,male,21.00,0,0,8.6625,S,Third,None,Southampton,1
837,837,0,3,male,NaN,0,0,8.0500,S,Third,None,Southampton,1
838,838,1,3,male,32.00,0,0,56.4958,S,Third,None,Southampton,1
839,839,1,1,male,NaN,0,0,29.7000,C,First,C,Cherbourg,1
840,840,0,3,male,20.00,0,0,7.9250,S,Third,None,Southampton,1
841,841,0,2,male,16.00,0,0,10.5000,S,Second,None,Southampton,1
842,842,1,1,female,30.00,0,0,31.0000,C,First,None,Cherbourg,1
843,843,0,3,male,34.50,0,0,6.4375,C,Third,None,Cherbourg,1
844,844,0,3,male,17.00,0,0,8.6625,S,Third,None,Southampton,1
845,845,0,3,male,42.00,0,0,7.5500,S,Third,None,Southampton,1
846,846,0,3,male,NaN,8,2,69.5500,S,Third,None,Southampton,0
847,847,0,3,male,35.00,0,0,7.8958,C,Third,None,Cherbourg,1
848,848,0,2,male,28.00,0,1,33.0000,S,Second,None,Southampton,0
849,849,1,1,female,NaN,1,0,89.1042,C,First,C,Cherbourg,0
850,850,0,3,male,4.00,4,2,31.2750,S,Third,None,Southampton,0
851,851,0,3,male,74.00,0,0,7.7750,S,Third,None,Southampton,1
852,852,0,3,female,9.00,1,1,15.2458,C,Third,None,Cherbourg,0
853,853,1,1,female,16.00,0,1,39.4000,S,First,D,Southampton,0
854,854,0,2,female,44.00,1,0,26.0000,S,Second,None,Southampton,0
855,855,1,3,female,18.00,0,1,9.3500,S,Third,None,Southampton,0
856,856,1,1,female,45.00,1,1,164.8667,S,First,None,Southampton,0
857,857,1,1,male,51.00,0,0,26.5500,S,First,E,Southampton,1
858,858,1,3,female,24.00,0,3,19.2583,C,Third,None,Cherbourg,0
859,859,0,3,male,NaN,0,0,7.2292,C,Third,None,Cherbourg,1
860,860,0,3,male,41.00,2,0,14.1083,S,Third,None,Southampton,0
861,861,0,2,male,21.00,1,0,11.5000,S,Second,None,Southampton,0
862,862,1,1,female,48.00,0,0,25.9292,S,First,D,Southampton,1
863,863,0,3,female,NaN,8,2,69.5500,S,Third,None,Southampton,0
864,864,0,2,male,24.00,0,0,13.0000,S,Second,None,Southampton,1
865,865,1,2,female,42.00,0,0,13.0000,S,Second,None,Southampton,1
866,866,1,2,female,27.00,1,0,13.8583,C,Second,None,Cherbourg,0
867,867,0,1,male,31.00,0,0,50.4958,S,First,A,Southampton,1
868,868,0,3,male,NaN,0,0,9.5000,S,Third,None,Southampton,1
869,869,1,3,male,4.00,1,1,11.1333,S,Third,None,Southampton,0
870,870,0,3,male,26.00,0,0,7.8958,S,Third,None,Southampton,1
871,871,1,1,female,47.00,1,1,52.5542,S,First,D,Southampton,0
872,872,0,1,male,33.00,0,0,5.0000,S,First,B,Southampton,1
873,873,0,3,male,47.00,0,0,9.0000,S,Third,None,Southampton,1
874,874,1,2,female,28.00,1,0,24.0000,C,Second,None,Cherbourg,0
875,875,1,3,female,15.00,0,0,7.2250,C,Third,None,Cherbourg,1
876,876,0,3,male,20.00,0,0,9.8458,S,Third,None,Southampton,1
877,877,0,3,male,19.00,0,0,7.8958,S,Third,None,Southampton,1
878,878,0,3,male,NaN,0,0,7.8958,S,Third,None,Southampton,1
879,879,1,1,female,56.00,0,1,83.1583,C,First,C,Cherbourg,0
880,880,1,2,female,25.00,0,1,26.0000,S,Second,None,Southampton,0
881,881,0,3,male,33.00,0,0,7.8958,S,Third,None,Southampton,1
882,882,0,3,female,22.00,0,0,10.5167,S,Third,None,Southampton,1
883,883,0,2,male,28.00,0,0,10.5000,S,Second,None,Southampton,1
884,884,0,3,male,25.00,0,0,7.0500,S,Third,None,Southampton,1
885,885,0,3,female,39.00,0,5,29.1250,Q,Third,None,Queenstown,0
886,886,0,2,male,27.00,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.00,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.00,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.00,0,0,7.7500,Q,Third,None,Queenstown,1

b. Remove the deck column.

In [15]:
titanic_df.drop(columns='deck', inplace=True)
titanic_df.head(3)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1

c. Use a label encoder to transform the embarked column.

In [16]:
def prep_embarked (titanic_df):
    from sklearn.preprocessing import LabelEncoder
    encoder = LabelEncoder()
    encoder.fit(titanic_df.embarked)
    titanic_df.embarked = encoder.transform(titanic_df.embarked)
    return (titanic_df)

prep_embarked(titanic_df)
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,3,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,0,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,3,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,3,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,3,Third,Southampton,1

d. Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(titanic_df[['age', 'fare']])
titanic_df[['age', 'fare']] = scaler.transform(titanic_df[['age', 'fare']])
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,0.271174,1,0,0.014151,3,Third,Southampton,0
1,1,1,1,female,0.472229,1,0,0.139136,0,First,Cherbourg,0
2,2,1,3,female,0.321438,0,0,0.015469,3,Third,Southampton,1
3,3,1,1,female,0.434531,1,0,0.103644,3,First,Southampton,0
4,4,0,3,male,0.434531,0,0,0.015713,3,Third,Southampton,1

Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.

In [18]:
import acquire 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

def fix_embark(titanic_df):
    titanic_df.embark_town.fillna('Other', inplace=True)
    titanic_df.embarked.fillna('O', inplace=True)
    return(titanic_df)

def drop_deck(titanic_df):
    titanic_df.drop(columns='deck', inplace=True)
    return(titanic_df)

def prep_embarked (titanic_df):
    encoder = LabelEncoder()
    encoder.fit(titanic_df.embarked)
    titanic_df.embarked = encoder.transform(titanic_df.embarked)
    return (titanic_df)

def scale_age_fare(titanic_df):
    scaler = MinMaxScaler()
    scaler.fit(titanic_df[['age', 'fare']])
    titanic_df[['age', 'fare']] = scaler.transform(titanic_df[['age', 'fare']])


def prep_titanic (titanic_df):
    fix_embark(titanic_df)
    drop_deck(titanic_df)
    prep_embarked(titanic_df)
    scale_age_fare(titanic_df)
    return(titanic_df)


titanic_df = acquire.get_titanic_data()
titanic_df = prep_titanic(titanic_df)
titanic_df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,0.271174,1,0,0.014151,3,Third,Southampton,0
1,1,1,1,female,0.472229,1,0,0.139136,0,First,Cherbourg,0
2,2,1,3,female,0.321438,0,0,0.015469,3,Third,Southampton,1
3,3,1,1,female,0.434531,1,0,0.103644,3,First,Southampton,0
4,4,0,3,male,0.434531,0,0,0.015713,3,Third,Southampton,1
5,5,0,3,male,NaN,0,0,0.016510,2,Third,Queenstown,1
6,6,0,1,male,0.673285,0,0,0.101229,3,First,Southampton,1
7,7,0,3,male,0.019854,3,1,0.041136,3,Third,Southampton,0
8,8,1,3,female,0.334004,0,2,0.021731,3,Third,Southampton,0
9,9,1,2,female,0.170646,1,0,0.058694,0,Second,Cherbourg,0
10,10,1,3,female,0.044986,1,1,0.032596,3,Third,Southampton,0
11,11,1,1,female,0.723549,0,0,0.051822,3,First,Southampton,1
12,12,0,3,male,0.246042,0,0,0.015713,3,Third,Southampton,1
13,13,0,3,male,0.484795,1,5,0.061045,3,Third,Southampton,0
14,14,0,3,female,0.170646,0,0,0.015330,3,Third,Southampton,1
15,15,1,2,female,0.685851,0,0,0.031230,3,Second,Southampton,1
16,16,0,3,male,0.019854,4,1,0.056848,2,Third,Queenstown,0
17,17,1,2,male,NaN,0,0,0.025374,3,Second,Southampton,1
18,18,0,3,female,0.384267,1,0,0.035134,3,Third,Southampton,0
19,19,1,3,female,NaN,0,0,0.014102,0,Third,Cherbourg,1
20,20,0,2,male,0.434531,0,0,0.050749,3,Second,Southampton,1
21,21,1,2,male,0.421965,0,0,0.025374,3,Second,Southampton,1
22,22,1,3,female,0.183212,0,0,0.015672,2,Third,Queenstown,1
23,23,1,1,male,0.346569,0,0,0.069291,3,First,Southampton,1
24,24,0,3,female,0.095250,3,1,0.041136,3,Third,Southampton,0
25,25,1,3,female,0.472229,1,5,0.061264,3,Third,Southampton,0
26,26,0,3,male,NaN,0,0,0.014102,0,Third,Cherbourg,1
27,27,0,1,male,0.233476,3,2,0.513342,3,First,Southampton,0
28,28,1,3,female,NaN,0,0,0.015379,2,Third,Queenstown,1
29,29,0,3,male,NaN,0,0,0.015412,3,Third,Southampton,1
30,30,0,1,male,0.497361,0,0,0.054107,0,First,Cherbourg,1
31,31,1,1,female,NaN,1,0,0.285990,0,First,Cherbourg,0
32,32,1,3,female,NaN,0,0,0.015127,2,Third,Queenstown,1
33,33,0,2,male,0.824076,0,0,0.020495,3,Second,Southampton,1
34,34,0,1,male,0.346569,1,0,0.160387,0,First,Cherbourg,0
35,35,0,1,male,0.522493,1,0,0.101497,3,First,Southampton,0
36,36,1,3,male,NaN,0,0,0.014110,0,Third,Cherbourg,1
37,37,0,3,male,0.258608,0,0,0.015713,3,Third,Southampton,1
38,38,0,3,female,0.220910,2,0,0.035134,3,Third,Southampton,0
39,39,1,3,female,0.170646,1,0,0.021942,0,Third,Cherbourg,0
40,40,0,3,female,0.497361,1,0,0.018494,3,Third,Southampton,0
41,41,0,2,female,0.334004,1,0,0.040989,3,Second,Southampton,0
42,42,0,3,male,NaN,0,0,0.015412,0,Third,Cherbourg,1
43,43,1,2,female,0.032420,1,2,0.081157,0,Second,Cherbourg,0
44,44,1,3,female,0.233476,0,0,0.015379,2,Third,Queenstown,1
45,45,0,3,male,NaN,0,0,0.015713,3,Third,Southampton,1
46,46,0,3,male,NaN,1,0,0.030254,2,Third,Queenstown,0
47,47,1,3,female,NaN,0,0,0.015127,2,Third,Queenstown,1
48,48,0,3,male,NaN,2,0,0.042315,0,Third,Cherbourg,0
49,49,0,3,female,0.220910,1,0,0.034743,3,Third,Southampton,0
50,50,0,3,male,0.082684,4,1,0.077465,3,Third,Southampton,0
51,51,0,3,male,0.258608,0,0,0.015225,3,Third,Southampton,1
52,52,1,1,female,0.610455,1,0,0.149765,0,First,Cherbourg,0
53,53,1,2,female,0.359135,1,0,0.050749,3,Second,Southampton,0
54,54,0,1,male,0.811510,0,1,0.120975,0,First,Cherbourg,0
55,55,1,1,male,NaN,0,0,0.069291,3,First,Southampton,1
56,56,1,2,female,0.258608,0,0,0.020495,3,Second,Southampton,1
57,57,0,3,male,0.352852,0,0,0.014110,0,Third,Cherbourg,1
58,58,1,2,female,0.057552,1,2,0.054164,3,Second,Southampton,0
59,59,0,3,male,0.132948,5,2,0.091543,3,Third,Southampton,0
60,60,0,3,male,0.271174,0,0,0.014110,0,Third,Cherbourg,1
61,61,1,1,female,0.472229,0,0,0.156150,1,First,Other,1
62,62,0,1,male,0.560191,1,0,0.162932,3,First,Southampton,0
63,63,0,3,male,0.044986,3,2,0.054457,3,Third,Southampton,0
64,64,0,1,male,NaN,0,0,0.054107,0,First,Cherbourg,1
65,65,1,3,male,NaN,1,1,0.029758,0,Third,Cherbourg,0
66,66,1,2,female,0.359135,0,0,0.020495,3,Second,Southampton,1
67,67,0,3,male,0.233476,0,0,0.015924,3,Third,Southampton,1
68,68,1,3,female,0.208344,4,2,0.015469,3,Third,Southampton,0
69,69,0,3,male,0.321438,2,0,0.016908,3,Third,Southampton,0
70,70,0,2,male,0.396833,0,0,0.020495,3,Second,Southampton,1
71,71,0,3,female,0.195778,5,2,0.091543,3,Third,Southampton,0
72,72,0,2,male,0.258608,0,0,0.143462,3,Second,Southampton,1
73,73,0,3,male,0.321438,1,0,0.028213,0,Third,Cherbourg,0
74,74,1,3,male,0.396833,0,0,0.110272,3,Third,Southampton,1
75,75,0,3,male,0.308872,0,0,0.014932,3,Third,Southampton,1
76,76,0,3,male,NaN,0,0,0.015412,3,Third,Southampton,1
77,77,0,3,male,NaN,0,0,0.015713,3,Third,Southampton,1
78,78,1,2,male,0.005152,0,2,0.056604,3,Second,Southampton,0
79,79,1,3,female,0.371701,0,0,0.024350,3,Third,Southampton,1
80,80,0,3,male,0.271174,0,0,0.017567,3,Third,Southampton,1
81,81,1,3,male,0.359135,0,0,0.018543,3,Third,Southampton,1
82,82,1,3,female,NaN,0,0,0.015200,2,Third,Queenstown,1
83,83,0,1,male,0.346569,0,0,0.091933,3,First,Southampton,1
84,84,1,2,female,0.208344,0,0,0.020495,3,Second,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...
806,806,0,1,male,0.484795,0,0,0.000000,3,First,Southampton,1
807,807,0,3,female,0.220910,0,0,0.015176,3,Third,Southampton,1
808,808,0,2,male,0.484795,0,0,0.025374,3,Second,Southampton,1
809,809,1,1,female,0.409399,1,0,0.103644,3,First,Southampton,0
810,810,0,3,male,0.321438,0,0,0.015395,3,Third,Southampton,1
811,811,0,3,male,0.484795,0,0,0.047138,3,Third,Southampton,1
812,812,0,2,male,0.434531,0,0,0.020495,3,Second,Southampton,1
813,813,0,3,female,0.070118,4,2,0.061045,3,Third,Southampton,0
814,814,0,3,male,0.377984,0,0,0.015713,3,Third,Southampton,1
815,815,0,1,male,NaN,0,0,0.000000,3,First,Southampton,1
816,816,0,3,female,0.283740,0,0,0.015469,3,Third,Southampton,1
817,817,0,2,male,0.384267,1,1,0.072227,0,Second,Cherbourg,0
818,818,0,3,male,0.535059,0,0,0.012590,3,Third,Southampton,1
819,819,0,3,male,0.120382,3,2,0.054457,3,Third,Southampton,0
820,820,1,1,female,0.648153,1,1,0.182500,3,First,Southampton,0
821,821,1,3,male,0.334004,0,0,0.016908,3,Third,Southampton,1
822,822,0,1,male,0.472229,0,0,0.000000,3,First,Southampton,1
823,823,1,3,female,0.334004,0,1,0.024350,3,Third,Southampton,0
824,824,0,3,male,0.019854,4,1,0.077465,3,Third,Southampton,0
825,825,0,3,male,NaN,0,0,0.013565,2,Third,Queenstown,1
826,826,0,3,male,NaN,0,0,0.110272,3,Third,Southampton,1
827,827,1,2,male,0.007288,0,2,0.072227,0,Second,Cherbourg,0
828,828,1,3,male,NaN,0,0,0.015127,2,Third,Queenstown,1
829,829,1,1,female,0.773813,0,0,0.156150,1,First,Other,1
830,830,1,3,female,0.183212,1,0,0.028213,0,Third,Cherbourg,0
831,831,1,2,male,0.005152,1,1,0.036598,3,Second,Southampton,0
832,832,0,3,male,NaN,0,0,0.014110,0,Third,Cherbourg,1
833,833,0,3,male,0.283740,0,0,0.015330,3,Third,Southampton,1
834,834,0,3,male,0.220910,0,0,0.016201,3,Third,Southampton,1
835,835,1,1,female,0.484795,1,1,0.162314,0,First,Cherbourg,0
836,836,0,3,male,0.258608,0,0,0.016908,3,Third,Southampton,1
837,837,0,3,male,NaN,0,0,0.015713,3,Third,Southampton,1
838,838,1,3,male,0.396833,0,0,0.110272,3,Third,Southampton,1
839,839,1,1,male,NaN,0,0,0.057971,0,First,Cherbourg,1
840,840,0,3,male,0.246042,0,0,0.015469,3,Third,Southampton,1
841,841,0,2,male,0.195778,0,0,0.020495,3,Second,Southampton,1
842,842,1,1,female,0.371701,0,0,0.060508,0,First,Cherbourg,1
843,843,0,3,male,0.428248,0,0,0.012565,0,Third,Cherbourg,1
844,844,0,3,male,0.208344,0,0,0.016908,3,Third,Southampton,1
845,845,0,3,male,0.522493,0,0,0.014737,3,Third,Southampton,1
846,846,0,3,male,NaN,8,2,0.135753,3,Third,Southampton,0
847,847,0,3,male,0.434531,0,0,0.015412,0,Third,Cherbourg,1
848,848,0,2,male,0.346569,0,1,0.064412,3,Second,Southampton,0
849,849,1,1,female,NaN,1,0,0.173920,0,First,Cherbourg,0
850,850,0,3,male,0.044986,4,2,0.061045,3,Third,Southampton,0
851,851,0,3,male,0.924604,0,0,0.015176,3,Third,Southampton,1
852,852,0,3,female,0.107816,1,1,0.029758,0,Third,Cherbourg,0
853,853,1,1,female,0.195778,0,1,0.076904,3,First,Southampton,0
854,854,0,2,female,0.547625,1,0,0.050749,3,Second,Southampton,0
855,855,1,3,female,0.220910,0,1,0.018250,3,Third,Southampton,0
856,856,1,1,female,0.560191,1,1,0.321798,3,First,Southampton,0
857,857,1,1,male,0.635587,0,0,0.051822,3,First,Southampton,1
858,858,1,3,female,0.296306,0,3,0.037590,0,Third,Cherbourg,0
859,859,0,3,male,NaN,0,0,0.014110,0,Third,Cherbourg,1
860,860,0,3,male,0.509927,2,0,0.027538,3,Third,Southampton,0
861,861,0,2,male,0.258608,1,0,0.022447,3,Second,Southampton,0
862,862,1,1,female,0.597889,0,0,0.050610,3,First,Southampton,1
863,863,0,3,female,NaN,8,2,0.135753,3,Third,Southampton,0
864,864,0,2,male,0.296306,0,0,0.025374,3,Second,Southampton,1
865,865,1,2,female,0.522493,0,0,0.025374,3,Second,Southampton,1
866,866,1,2,female,0.334004,1,0,0.027050,0,Second,Cherbourg,0
867,867,0,1,male,0.384267,0,0,0.098561,3,First,Southampton,1
868,868,0,3,male,NaN,0,0,0.018543,3,Third,Southampton,1
869,869,1,3,male,0.044986,1,1,0.021731,3,Third,Southampton,0
870,870,0,3,male,0.321438,0,0,0.015412,3,Third,Southampton,1
871,871,1,1,female,0.585323,1,1,0.102579,3,First,Southampton,0
872,872,0,1,male,0.409399,0,0,0.009759,3,First,Southampton,1
873,873,0,3,male,0.585323,0,0,0.017567,3,Third,Southampton,1
874,874,1,2,female,0.346569,1,0,0.046845,0,Second,Cherbourg,0
875,875,1,3,female,0.183212,0,0,0.014102,0,Third,Cherbourg,1
876,876,0,3,male,0.246042,0,0,0.019218,3,Third,Southampton,1
877,877,0,3,male,0.233476,0,0,0.015412,3,Third,Southampton,1
878,878,0,3,male,NaN,0,0,0.015412,3,Third,Southampton,1
879,879,1,1,female,0.698417,0,1,0.162314,0,First,Cherbourg,0
880,880,1,2,female,0.308872,0,1,0.050749,3,Second,Southampton,0
881,881,0,3,male,0.409399,0,0,0.015412,3,Third,Southampton,1
882,882,0,3,female,0.271174,0,0,0.020527,3,Third,Southampton,1
883,883,0,2,male,0.346569,0,0,0.020495,3,Second,Southampton,1
884,884,0,3,male,0.308872,0,0,0.013761,3,Third,Southampton,1
885,885,0,3,female,0.484795,0,5,0.056848,2,Third,Queenstown,0
886,886,0,2,male,0.334004,0,0,0.025374,3,Second,Southampton,1
887,887,1,1,female,0.233476,0,0,0.058556,3,First,Southampton,1
888,888,0,3,female,NaN,1,2,0.045771,3,Third,Southampton,0
889,889,1,1,male,0.321438,0,0,0.058556,0,First,Cherbourg,1
890,890,0,3,male,0.396833,0,0,0.015127,2,Third,Queenstown,1

3. Save your prep_titanic and prep_iris functions in a file named prepare.py so that we can use them later on.

In [19]:
from prepare import *
import acquire 
import prepare

iris_df = acquire.get_iris_data()

In [20]:
# def drop_species_meas(iris_df):
#     iris_df = iris_df.drop(columns=['measurement_id', 'species_id'])
#     return iris_df

# def rename_col(iris_df):
#     iris_df = iris_df.rename(columns={"species_name": "species"})
#     return iris_df

# def encode_species(iris_df):
#     encoder = LabelEncoder()
#     encoder.fit(iris_df.species)
#     iris_df.species = encoder.transform(iris_df.species)
#     return iris_df

# def prep_iris(iris_df):
#     iris_df = iris_df.pipe(drop_species_meas).pipe(rename_col).pipe(encode_species)
#     return iris_df

In [21]:
iris_df = prep_iris(iris_df)
iris_df

     species  sepal_length  sepal_width  petal_length  petal_width
0          0           5.1          3.5           1.4          0.2
1          0           4.9          3.0           1.4          0.2
2          0           4.7          3.2           1.3          0.2
3          0           4.6          3.1           1.5          0.2
4          0           5.0          3.6           1.4          0.2
5          0           5.4          3.9           1.7          0.4
6          0           4.6          3.4           1.4          0.3
7          0           5.0          3.4           1.5          0.2
8          0           4.4          2.9           1.4          0.2
9          0           4.9          3.1           1.5          0.1
10         0           5.4          3.7           1.5          0.2
11         0           4.8          3.4           1.6          0.2
12         0           4.8          3.0           1.4          0.1
13         0           4.3          3.0           1.1          0.1
14         0           5.8          4.0           1.2          0.2
15         0           5.7          4.4           1.5          0.4
16         0           5.4          3.9           1.3          0.4
17         0           5.1          3.5           1.4          0.3
18         0           5.7          3.8           1.7          0.3
19         0           5.1          3.8           1.5          0.3
20         0           5.4          3.4           1.7          0.2
21         0           5.1          3.7           1.5          0.4
22         0           4.6          3.6           1.0          0.2
23         0           5.1          3.3           1.7          0.5
24         0           4.8          3.4           1.9          0.2
25         0           5.0          3.0           1.6          0.2
26         0           5.0          3.4           1.6          0.4
27         0           5.2          3.5           1.5          0.2
28         0           5.2          3.4           1.4          0.2
29         0           4.7          3.2           1.6          0.2
30         0           4.8          3.1           1.6          0.2
31         0           5.4          3.4           1.5          0.4
32         0           5.2          4.1           1.5          0.1
33         0           5.5          4.2           1.4          0.2
34         0           4.9          3.1           1.5          0.2
35         0           5.0          3.2           1.2          0.2
36         0           5.5          3.5           1.3          0.2
37         0           4.9          3.6           1.4          0.1
38         0           4.4          3.0           1.3          0.2
39         0           5.1          3.4           1.5          0.2
40         0           5.0          3.5           1.3          0.3
41         0           4.5          2.3           1.3          0.3
42         0           4.4          3.2           1.3          0.2
43         0           5.0          3.5           1.6          0.6
44         0           5.1          3.8           1.9          0.4
45         0           4.8          3.0           1.4          0.3
46         0           5.1          3.8           1.6          0.2
47         0           4.6          3.2           1.4          0.2
48         0           5.3          3.7           1.5          0.2
49         0           5.0          3.3           1.4          0.2
50         1           7.0          3.2           4.7          1.4
51         1           6.4          3.2           4.5          1.5
52         1           6.9          3.1           4.9          1.5
53         1           5.5          2.3           4.0          1.3
54         1           6.5          2.8           4.6          1.5
55         1           5.7          2.8           4.5          1.3
56         1           6.3          3.3           4.7          1.6
57         1           4.9          2.4           3.3          1.0
58         1           6.6          2.9           4.6          1.3
59         1           5.2          2.7           3.9          1.4
60         1           5.0          2.0           3.5          1.0
61         1           5.9          3.0           4.2          1.5
62         1           6.0          2.2           4.0          1.0
63         1           6.1          2.9           4.7          1.4
64         1           5.6          2.9           3.6          1.3
65         1           6.7          3.1           4.4          1.4
66         1           5.6          3.0           4.5          1.5
67         1           5.8          2.7           4.1          1.0
68         1           6.2          2.2           4.5          1.5
69         1           5.6          2.5           3.9          1.1
70         1           5.9          3.2           4.8          1.8
71         1           6.1          2.8           4.0          1.3
72         1           6.3          2.5           4.9          1.5
73         1           6.1          2.8           4.7          1.2
74         1           6.4          2.9           4.3          1.3
75         1           6.6          3.0           4.4          1.4
76         1           6.8          2.8           4.8          1.4
77         1           6.7          3.0           5.0          1.7
78         1           6.0          2.9           4.5          1.5
79         1           5.7          2.6           3.5          1.0
80         1           5.5          2.4           3.8          1.1
81         1           5.5          2.4           3.7          1.0
82         1           5.8          2.7           3.9          1.2
83         1           6.0          2.7           5.1          1.6
84         1           5.4          3.0           4.5          1.5
85         1           6.0          3.4           4.5          1.6
86         1           6.7          3.1           4.7          1.5
87         1           6.3          2.3           4.4          1.3
88         1           5.6          3.0           4.1          1.3
89         1           5.5          2.5           4.0          1.3
90         1           5.5          2.6           4.4          1.2
91         1           6.1          3.0           4.6          1.4
92         1           5.8          2.6           4.0          1.2
93         1           5.0          2.3           3.3          1.0
94         1           5.6          2.7           4.2          1.3
95         1           5.7          3.0           4.2          1.2
96         1           5.7          2.9           4.2          1.3
97         1           6.2          2.9           4.3          1.3
98         1           5.1          2.5           3.0          1.1
99         1           5.7          2.8           4.1          1.3
100        2           6.3          3.3           6.0          2.5
101        2           5.8          2.7           5.1          1.9
102        2           7.1          3.0           5.9          2.1
103        2           6.3          2.9           5.6          1.8
104        2           6.5          3.0           5.8          2.2
105        2           7.6          3.0           6.6          2.1
106        2           4.9          2.5           4.5          1.7
107        2           7.3          2.9           6.3          1.8
108        2           6.7          2.5           5.8          1.8
109        2           7.2          3.6           6.1          2.5
110        2           6.5          3.2           5.1          2.0
111        2           6.4          2.7           5.3          1.9
112        2           6.8          3.0           5.5          2.1
113        2           5.7          2.5           5.0          2.0
114        2           5.8          2.8           5.1          2.4
115        2           6.4          3.2           5.3          2.3
116        2           6.5          3.0           5.5          1.8
117        2           7.7          3.8           6.7          2.2
118        2           7.7          2.6           6.9          2.3
119        2           6.0          2.2           5.0          1.5
120        2           6.9          3.2           5.7          2.3
121        2           5.6          2.8           4.9          2.0
122        2           7.7          2.8           6.7          2.0
123        2           6.3          2.7           4.9          1.8
124        2           6.7          3.3           5.7          2.1
125        2           7.2          3.2           6.0          1.8
126        2           6.2          2.8           4.8          1.8
127        2           6.1          3.0           4.9          1.8
128        2           6.4          2.8           5.6          2.1
129        2           7.2          3.0           5.8          1.6
130        2           7.4          2.8           6.1          1.9
131        2           7.9          3.8           6.4          2.0
132        2           6.4          2.8           5.6          2.2
133        2           6.3          2.8           5.1          1.5
134        2           6.1          2.6           5.6          1.4
135        2           7.7          3.0           6.1          2.3
136        2           6.3          3.4           5.6          2.4
137        2           6.4          3.1           5.5          1.8
138        2           6.0          3.0           4.8          1.8
139        2           6.9          3.1           5.4          2.1
140        2           6.7          3.1           5.6          2.4
141        2           6.9          3.1           5.1          2.3
142        2           5.8          2.7           5.1          1.9
143        2           6.8          3.2           5.9          2.3
144        2           6.7          3.3           5.7          2.5
145        2           6.7          3.0           5.2          2.3
146        2           6.3          2.5           5.0          1.9
147        2           6.5          3.0           5.2          2.0
148        2           6.2          3.4           5.4          2.3
149        2           5.9          3.0           5.1          1.8

In [22]:
import acquire 
import prepare

titanic_df = acquire.get_titanic_data()
titanic_df = prepare.prep_titanic_data(titanic_df)
titanic_df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,embarked_encode
0,0,0,3,male,22.00,1,0,7.2500,S,Third,Southampton,0,2
1,1,1,1,female,38.00,1,0,71.2833,C,First,Cherbourg,0,0
2,2,1,3,female,26.00,0,0,7.9250,S,Third,Southampton,1,2
3,3,1,1,female,35.00,1,0,53.1000,S,First,Southampton,0,2
4,4,0,3,male,35.00,0,0,8.0500,S,Third,Southampton,1,2
6,6,0,1,male,54.00,0,0,51.8625,S,First,Southampton,1,2
7,7,0,3,male,2.00,3,1,21.0750,S,Third,Southampton,0,2
8,8,1,3,female,27.00,0,2,11.1333,S,Third,Southampton,0,2
9,9,1,2,female,14.00,1,0,30.0708,C,Second,Cherbourg,0,0
10,10,1,3,female,4.00,1,1,16.7000,S,Third,Southampton,0,2
11,11,1,1,female,58.00,0,0,26.5500,S,First,Southampton,1,2
12,12,0,3,male,20.00,0,0,8.0500,S,Third,Southampton,1,2
13,13,0,3,male,39.00,1,5,31.2750,S,Third,Southampton,0,2
14,14,0,3,female,14.00,0,0,7.8542,S,Third,Southampton,1,2
15,15,1,2,female,55.00,0,0,16.0000,S,Second,Southampton,1,2
16,16,0,3,male,2.00,4,1,29.1250,Q,Third,Queenstown,0,1
18,18,0,3,female,31.00,1,0,18.0000,S,Third,Southampton,0,2
20,20,0,2,male,35.00,0,0,26.0000,S,Second,Southampton,1,2
21,21,1,2,male,34.00,0,0,13.0000,S,Second,Southampton,1,2
22,22,1,3,female,15.00,0,0,8.0292,Q,Third,Queenstown,1,1
23,23,1,1,male,28.00,0,0,35.5000,S,First,Southampton,1,2
24,24,0,3,female,8.00,3,1,21.0750,S,Third,Southampton,0,2
25,25,1,3,female,38.00,1,5,31.3875,S,Third,Southampton,0,2
27,27,0,1,male,19.00,3,2,263.0000,S,First,Southampton,0,2
30,30,0,1,male,40.00,0,0,27.7208,C,First,Cherbourg,1,0
33,33,0,2,male,66.00,0,0,10.5000,S,Second,Southampton,1,2
34,34,0,1,male,28.00,1,0,82.1708,C,First,Cherbourg,0,0
35,35,0,1,male,42.00,1,0,52.0000,S,First,Southampton,0,2
37,37,0,3,male,21.00,0,0,8.0500,S,Third,Southampton,1,2
38,38,0,3,female,18.00,2,0,18.0000,S,Third,Southampton,0,2
39,39,1,3,female,14.00,1,0,11.2417,C,Third,Cherbourg,0,0
40,40,0,3,female,40.00,1,0,9.4750,S,Third,Southampton,0,2
41,41,0,2,female,27.00,1,0,21.0000,S,Second,Southampton,0,2
43,43,1,2,female,3.00,1,2,41.5792,C,Second,Cherbourg,0,0
44,44,1,3,female,19.00,0,0,7.8792,Q,Third,Queenstown,1,1
49,49,0,3,female,18.00,1,0,17.8000,S,Third,Southampton,0,2
50,50,0,3,male,7.00,4,1,39.6875,S,Third,Southampton,0,2
51,51,0,3,male,21.00,0,0,7.8000,S,Third,Southampton,1,2
52,52,1,1,female,49.00,1,0,76.7292,C,First,Cherbourg,0,0
53,53,1,2,female,29.00,1,0,26.0000,S,Second,Southampton,0,2
54,54,0,1,male,65.00,0,1,61.9792,C,First,Cherbourg,0,0
56,56,1,2,female,21.00,0,0,10.5000,S,Second,Southampton,1,2
57,57,0,3,male,28.50,0,0,7.2292,C,Third,Cherbourg,1,0
58,58,1,2,female,5.00,1,2,27.7500,S,Second,Southampton,0,2
59,59,0,3,male,11.00,5,2,46.9000,S,Third,Southampton,0,2
60,60,0,3,male,22.00,0,0,7.2292,C,Third,Cherbourg,1,0
61,61,1,1,female,38.00,0,0,80.0000,U,First,Unknown,1,3
62,62,0,1,male,45.00,1,0,83.4750,S,First,Southampton,0,2
63,63,0,3,male,4.00,3,2,27.9000,S,Third,Southampton,0,2
66,66,1,2,female,29.00,0,0,10.5000,S,Second,Southampton,1,2
67,67,0,3,male,19.00,0,0,8.1583,S,Third,Southampton,1,2
68,68,1,3,female,17.00,4,2,7.9250,S,Third,Southampton,0,2
69,69,0,3,male,26.00,2,0,8.6625,S,Third,Southampton,0,2
70,70,0,2,male,32.00,0,0,10.5000,S,Second,Southampton,1,2
71,71,0,3,female,16.00,5,2,46.9000,S,Third,Southampton,0,2
72,72,0,2,male,21.00,0,0,73.5000,S,Second,Southampton,1,2
73,73,0,3,male,26.00,1,0,14.4542,C,Third,Cherbourg,0,0
74,74,1,3,male,32.00,0,0,56.4958,S,Third,Southampton,1,2
75,75,0,3,male,25.00,0,0,7.6500,S,Third,Southampton,1,2
78,78,1,2,male,0.83,0,2,29.0000,S,Second,Southampton,0,2
79,79,1,3,female,30.00,0,0,12.4750,S,Third,Southampton,1,2
80,80,0,3,male,22.00,0,0,9.0000,S,Third,Southampton,1,2
81,81,1,3,male,29.00,0,0,9.5000,S,Third,Southampton,1,2
83,83,0,1,male,28.00,0,0,47.1000,S,First,Southampton,1,2
84,84,1,2,female,17.00,0,0,10.5000,S,Second,Southampton,1,2
85,85,1,3,female,33.00,3,0,15.8500,S,Third,Southampton,0,2
86,86,0,3,male,16.00,1,3,34.3750,S,Third,Southampton,0,2
88,88,1,1,female,23.00,3,2,263.0000,S,First,Southampton,0,2
89,89,0,3,male,24.00,0,0,8.0500,S,Third,Southampton,1,2
90,90,0,3,male,29.00,0,0,8.0500,S,Third,Southampton,1,2
91,91,0,3,male,20.00,0,0,7.8542,S,Third,Southampton,1,2
92,92,0,1,male,46.00,1,0,61.1750,S,First,Southampton,0,2
93,93,0,3,male,26.00,1,2,20.5750,S,Third,Southampton,0,2
94,94,0,3,male,59.00,0,0,7.2500,S,Third,Southampton,1,2
96,96,0,1,male,71.00,0,0,34.6542,C,First,Cherbourg,1,0
97,97,1,1,male,23.00,0,1,63.3583,C,First,Cherbourg,0,0
98,98,1,2,female,34.00,0,1,23.0000,S,Second,Southampton,0,2
99,99,0,2,male,34.00,1,0,26.0000,S,Second,Southampton,0,2
100,100,0,3,female,28.00,0,0,7.8958,S,Third,Southampton,1,2
102,102,0,1,male,21.00,0,1,77.2875,S,First,Southampton,0,2
103,103,0,3,male,33.00,0,0,8.6542,S,Third,Southampton,1,2
104,104,0,3,male,37.00,2,0,7.9250,S,Third,Southampton,0,2
105,105,0,3,male,28.00,0,0,7.8958,S,Third,Southampton,1,2
106,106,1,3,female,21.00,0,0,7.6500,S,Third,Southampton,1,2
108,108,0,3,male,38.00,0,0,7.8958,S,Third,Southampton,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,789,0,1,male,46.00,0,0,79.2000,C,First,Cherbourg,1,0
791,791,0,2,male,16.00,0,0,26.0000,S,Second,Southampton,1,2
794,794,0,3,male,25.00,0,0,7.8958,S,Third,Southampton,1,2
795,795,0,2,male,39.00,0,0,13.0000,S,Second,Southampton,1,2
796,796,1,1,female,49.00,0,0,25.9292,S,First,Southampton,1,2
797,797,1,3,female,31.00,0,0,8.6833,S,Third,Southampton,1,2
798,798,0,3,male,30.00,0,0,7.2292,C,Third,Cherbourg,1,0
799,799,0,3,female,30.00,1,1,24.1500,S,Third,Southampton,0,2
800,800,0,2,male,34.00,0,0,13.0000,S,Second,Southampton,1,2
801,801,1,2,female,31.00,1,1,26.2500,S,Second,Southampton,0,2
802,802,1,1,male,11.00,1,2,120.0000,S,First,Southampton,0,2
803,803,1,3,male,0.42,0,1,8.5167,C,Third,Cherbourg,0,0
804,804,1,3,male,27.00,0,0,6.9750,S,Third,Southampton,1,2
805,805,0,3,male,31.00,0,0,7.7750,S,Third,Southampton,1,2
806,806,0,1,male,39.00,0,0,0.0000,S,First,Southampton,1,2
807,807,0,3,female,18.00,0,0,7.7750,S,Third,Southampton,1,2
808,808,0,2,male,39.00,0,0,13.0000,S,Second,Southampton,1,2
809,809,1,1,female,33.00,1,0,53.1000,S,First,Southampton,0,2
810,810,0,3,male,26.00,0,0,7.8875,S,Third,Southampton,1,2
811,811,0,3,male,39.00,0,0,24.1500,S,Third,Southampton,1,2
812,812,0,2,male,35.00,0,0,10.5000,S,Second,Southampton,1,2
813,813,0,3,female,6.00,4,2,31.2750,S,Third,Southampton,0,2
814,814,0,3,male,30.50,0,0,8.0500,S,Third,Southampton,1,2
816,816,0,3,female,23.00,0,0,7.9250,S,Third,Southampton,1,2
817,817,0,2,male,31.00,1,1,37.0042,C,Second,Cherbourg,0,0
818,818,0,3,male,43.00,0,0,6.4500,S,Third,Southampton,1,2
819,819,0,3,male,10.00,3,2,27.9000,S,Third,Southampton,0,2
820,820,1,1,female,52.00,1,1,93.5000,S,First,Southampton,0,2
821,821,1,3,male,27.00,0,0,8.6625,S,Third,Southampton,1,2
822,822,0,1,male,38.00,0,0,0.0000,S,First,Southampton,1,2
823,823,1,3,female,27.00,0,1,12.4750,S,Third,Southampton,0,2
824,824,0,3,male,2.00,4,1,39.6875,S,Third,Southampton,0,2
827,827,1,2,male,1.00,0,2,37.0042,C,Second,Cherbourg,0,0
829,829,1,1,female,62.00,0,0,80.0000,U,First,Unknown,1,3
830,830,1,3,female,15.00,1,0,14.4542,C,Third,Cherbourg,0,0
831,831,1,2,male,0.83,1,1,18.7500,S,Second,Southampton,0,2
833,833,0,3,male,23.00,0,0,7.8542,S,Third,Southampton,1,2
834,834,0,3,male,18.00,0,0,8.3000,S,Third,Southampton,1,2
835,835,1,1,female,39.00,1,1,83.1583,C,First,Cherbourg,0,0
836,836,0,3,male,21.00,0,0,8.6625,S,Third,Southampton,1,2
838,838,1,3,male,32.00,0,0,56.4958,S,Third,Southampton,1,2
840,840,0,3,male,20.00,0,0,7.9250,S,Third,Southampton,1,2
841,841,0,2,male,16.00,0,0,10.5000,S,Second,Southampton,1,2
842,842,1,1,female,30.00,0,0,31.0000,C,First,Cherbourg,1,0
843,843,0,3,male,34.50,0,0,6.4375,C,Third,Cherbourg,1,0
844,844,0,3,male,17.00,0,0,8.6625,S,Third,Southampton,1,2
845,845,0,3,male,42.00,0,0,7.5500,S,Third,Southampton,1,2
847,847,0,3,male,35.00,0,0,7.8958,C,Third,Cherbourg,1,0
848,848,0,2,male,28.00,0,1,33.0000,S,Second,Southampton,0,2
850,850,0,3,male,4.00,4,2,31.2750,S,Third,Southampton,0,2
851,851,0,3,male,74.00,0,0,7.7750,S,Third,Southampton,1,2
852,852,0,3,female,9.00,1,1,15.2458,C,Third,Cherbourg,0,0
853,853,1,1,female,16.00,0,1,39.4000,S,First,Southampton,0,2
854,854,0,2,female,44.00,1,0,26.0000,S,Second,Southampton,0,2
855,855,1,3,female,18.00,0,1,9.3500,S,Third,Southampton,0,2
856,856,1,1,female,45.00,1,1,164.8667,S,First,Southampton,0,2
857,857,1,1,male,51.00,0,0,26.5500,S,First,Southampton,1,2
858,858,1,3,female,24.00,0,3,19.2583,C,Third,Cherbourg,0,0
860,860,0,3,male,41.00,2,0,14.1083,S,Third,Southampton,0,2
861,861,0,2,male,21.00,1,0,11.5000,S,Second,Southampton,0,2
862,862,1,1,female,48.00,0,0,25.9292,S,First,Southampton,1,2
864,864,0,2,male,24.00,0,0,13.0000,S,Second,Southampton,1,2
865,865,1,2,female,42.00,0,0,13.0000,S,Second,Southampton,1,2
866,866,1,2,female,27.00,1,0,13.8583,C,Second,Cherbourg,0,0
867,867,0,1,male,31.00,0,0,50.4958,S,First,Southampton,1,2
869,869,1,3,male,4.00,1,1,11.1333,S,Third,Southampton,0,2
870,870,0,3,male,26.00,0,0,7.8958,S,Third,Southampton,1,2
871,871,1,1,female,47.00,1,1,52.5542,S,First,Southampton,0,2
872,872,0,1,male,33.00,0,0,5.0000,S,First,Southampton,1,2
873,873,0,3,male,47.00,0,0,9.0000,S,Third,Southampton,1,2
874,874,1,2,female,28.00,1,0,24.0000,C,Second,Cherbourg,0,0
875,875,1,3,female,15.00,0,0,7.2250,C,Third,Cherbourg,1,0
876,876,0,3,male,20.00,0,0,9.8458,S,Third,Southampton,1,2
877,877,0,3,male,19.00,0,0,7.8958,S,Third,Southampton,1,2
879,879,1,1,female,56.00,0,1,83.1583,C,First,Cherbourg,0,0
880,880,1,2,female,25.00,0,1,26.0000,S,Second,Southampton,0,2
881,881,0,3,male,33.00,0,0,7.8958,S,Third,Southampton,1,2
882,882,0,3,female,22.00,0,0,10.5167,S,Third,Southampton,1,2
883,883,0,2,male,28.00,0,0,10.5000,S,Second,Southampton,1,2
884,884,0,3,male,25.00,0,0,7.0500,S,Third,Southampton,1,2
885,885,0,3,female,39.00,0,5,29.1250,Q,Third,Queenstown,0,1
886,886,0,2,male,27.00,0,0,13.0000,S,Second,Southampton,1,2
887,887,1,1,female,19.00,0,0,30.0000,S,First,Southampton,1,2
889,889,1,1,male,26.00,0,0,30.0000,C,First,Cherbourg,1,0
890,890,0,3,male,32.00,0,0,7.7500,Q,Third,Queenstown,1,1